# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- feature/pipeline

variables:
  buildConfiguration: 'Release'

jobs:
- job: VS2019
  pool:
    vmImage: 'windows-2019'
  steps:
  - task: CMake@1
    displayName: 'Generate solution'
    inputs:
      workingDirectory: $(Build.SourcesDirectory)\build\x64-Release-vs2019
      cmakeArgs: ..\.. -G"Visual Studio 16 2019" -A x64

  - task: CMake@1
    displayName: 'Compile'
    inputs:
      workingDirectory: $(Build.SourcesDirectory)\build\x64-Release-vs2019
      cmakeArgs: --build .
