# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- feature/pipeline

variables:
  buildConfiguration: 'Release'

jobs:

#
# VS2019
#
- job: VS2019
  pool:
    vmImage: 'windows-2019'
  steps:
  - task: NuGetRestore@1
    displayName: 'Restore NuGet Packages'
    solution: $(Build.SourcesDirectory)/*.sln

  - task: MSBuild@1
    displayName: 'Generate solution'
    inputs:
      solution: $(Build.SourcesDirectory)/*.sln

